.robotImage{
    position: absolute;
    bottom: 0px;
    right: -240px;
    transform: rotateY(164.34deg) rotateZ(-20.71deg);
    z-index: -1;
}
.Banner-bg {
  position: relative;
  z-index: 1; 
  height: fit-content;
  width: 100%;
  overflow: hidden;

}

.Banner-bg::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./background/banner-bg.png") center/cover no-repeat; 
  opacity: 0.1;
  z-index: -1; 
}