.robotImage{
    position: absolute;
    bottom: 0px;
    right: -150px;
    rotate: calc(25deg);
    z-index: 0;
}
.Banner-bg {
  position: relative;
  z-index: 1; 
  height: fit-content;
  width: 100%;

}

.Banner-bg::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./background/banner-bg.png") center/cover no-repeat; 
  opacity: 0.1;
  z-index: -1; 
}