
.custom-bg-light {
    background-color: #E6EAF1;
}
.card {
    border: none; 
    border-radius: 1rem;
}
.image-placeholder {
    width: 100%;
    min-height: 200px; /* Adjust height as needed */
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: 0.9rem;
    padding: 15px;
    border-color: #ddd !important;
}