.screen-width{
    width:100%;
    max-width: 1920px;
}

.light-bg-color{
    background-color:#F3FAF5;
}
.light-nav-bg{
    background-color:#E6EAF1;
}
.semi-bold{
    font-weight:600;
}
.bold{
    font-weight:700;
}
.Extra-bold{
    font-weight:800;
}
.rounded-full{
    border-radius:9999px;
    padding: 6px 8px;
}

/*all h tag*/
h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}
h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
}
h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
}
h4{
    font-size: 32px;
    font-weight: 700;
    line-height: 80px;
}
h5{
    font-size: 24px;
    font-weight: 700;
    line-height: 80px;
}
h6{
    font-size: 20px;
    font-weight: 700;
    line-height: 80px;
}
p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

/*button styles*/
.button-1{
    background-color: transparent;
    color: #2563EB;
    border:#2563EB 2px solid;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight:600;
}
.button-2{
    background-color: #2563EB;
    border:#2563EB 2px solid;
    color: white;
    border:none;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight:600;
}
@media screen and (max-width: 768px) {
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 36px;
    }
    h3{
        font-size: 32px;
    }
    
}