
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');


:root {
    --body-background-color: #EAEEF6;
    --nav-background-color: #E6EAF1;
    --banifit-card-background-color: #FFFFFF;
    --primary-color: linear-gradient(90deg, #2777FC 0%, #BD32FD 100%);
    --border-color: rgb(161, 253, 246);
    --text-color:#000000;
    --sora:'Sora', sans-serif;
    --inter:'Inter', sans-serif;
}

/*dark mode variables*/
.dark{
    --body-background-color: #121517;
    --nav-background-color: #13181E;
    --banifit-card-background-color: #13181E;
    --border-color: #BD32FD;
    --text-color:#FFFFFF;
}
.text-color{
    color: var(--text-color);
}
/*all h tag*/
.h1-tag{
    font-family: var(--sora);
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -1%;
    color: var(--text-color);
}
.h2-tag{
    font-family: var(--sora);
    font-weight: 800;
    font-style: extra-bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: var(--text-color);

}
.h3-tag{
    font-family: var(--sora);
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
    color: var(--text-color);
}
.h4-tag{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: var(--text-color);
}
.h5-tag{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: var(--text-color);
}
.h6-tag{
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: var(--text-color);
}
.p1-tag{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
}
.p2-tag{
    font-family: var(--inter);
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--text-color);
}
.p3-tag{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--text-color);
}

/*button styles*/
.button-1 {
    background: transparent;
    border: 2px solid #2777FC;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight: 600;
    font-family: var(--sora);
    cursor: pointer;
    background-image: var(--primary-color);
    -webkit-background-clip: text; /* Clips the background to the shape of the letters */
    background-clip: text;
    color: transparent;            /* Makes the original text color invisible so the background shows through */
}
.button-2{
    background: var(--primary-color);
    color: white;
    border:none;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight:600;
    font-family: var(--sora);
}
.active-button{
    background: var(--primary-color);
    color: white;
    border:none;
    padding: 5px 10px;
    border-radius: 100px;
    font-weight:600;
}
/*navbar section*/
.nav-logo{
    font-size: 30px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    font-family: var(--inter);
    color: var(--text-color);
    text-decoration: none;
}
.nav-Link{
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    font-family: var(--sora);
    color: var(--text-color);
    text-decoration: none;
}
.light-icon{
    width: 48;
    height: 48;
    opacity: 1;
    gap: 3px;
    border-radius: 100px;
    border-width: 1px;
    padding-right: 24px;
    padding-left: 24px;
    color: var(--text-color);
}

/*banner section*/

/*installation section*/

/*group section*/
.group-icon{
    color: var(--text-color);
    width: 40;
    height: 40;
    opacity: 1;
}
.group-border{
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

/*bniefit section*/
.card1 {
    background-color: var(--banifit-card-background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.card2{
    background-color: var(--banifit-card-background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-height: 647px;
    overflow: hidden;
}
.image-placeholder {
    width: 100%;
    min-height: 200px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: 0.9rem;
    padding: 15px;

    /* 1. Define border thickness */
    border: 6px solid transparent; 
    border-bottom: 0; /* Keeps your 6px 6px 0px 6px logic */
    border-radius: 8px;

    background-image: linear-gradient(#eee, #eee), 
                      linear-gradient(90deg, rgba(39, 119, 252, 0.4) 0%, rgba(189, 50, 253, 0.4) 100%);
    
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
.sub-heading{
    font-family: var(--sora);
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    vertical-align: middle;
    text-transform: uppercase;
}

/*Architechture section*/

/*Features section*/

/*DataProcess section*/

/*Tastimonial section*/
.image-div{
    width:40px;
    height:40px;
    border-radius:100%;
    overflow:hidden;
    margin-right:15px;
}
.offset-up{
    transform: translateY(-40px);
}

/*Pricing section*/
.price-card{
    border: 1px solid #af68cf;
    border-radius: 8px;
}

/*FAQ section*/

/*Resource section*/

/*footer section*/

/*copyright section*/



/*resource section*/
@keyframes fade {
    0% {
        top: 0;
        bottom: 4rem;
    }
    10% {
      bottom: 4rem;
    }
    90% {
      top: 4rem;
    }
    100% {
        top: 4rem;
        bottom: 0;
    }
}
.review{
    height: 700px;
    overflow-y: scroll;
    scrollbar-width: none;
    mask: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
    animation: fade;
    animation-timeline: scrollf;
    scroll-timeline: scrollf y;
}

/*fit height width classes*/
.fit-height{
    height:fit-content;
}
.fit-width{
    width:fit-content;
}

.screen-width{
    width:100%;
}

.bg-color{
    background-color:var(--body-background-color);
}


.Custom-bg{
    background-color:var(--nav-background-color);
}
.semi-bold{
    font-weight:600;
}
.bold{
    font-weight:700;
}
.Extra-bold{
    font-weight:800;
}
.rounded-full{
    border-radius:9999px;
    padding: 6px 8px;
}
@media screen and (max-width: 992px) {
    .h1-tag{
        font-family: Sora;
        font-weight: 700;
        font-style: Bold;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1%;
        text-align: center;
        color: var(--text-color);
    }
    .h2-tag{
        font-family: var(--sora);
        font-weight: 800;
        font-style: extra-bold;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        text-transform: capitalize;
        color: var(--text-color);
    }
    .h3-tag{
        font-family: var(--sora);
        font-weight: 700;
        font-style: Bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: center;


        color: var(--text-color);
    }
    h4{
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        color: var(--text-color);
    }
    h5{
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        color: var(--text-color);
    }
    h6{
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
        color: var(--text-color);
    }
    .p1-tag{
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: var(--text-color);
    }
    .p2-tag{
        font-family: var(--inter);
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: center;
        color: var(--text-color);
    }
    .offset-up{
        transform: translateY(0px);
    }
    
}