:root {
    --body-background-color: #EAEEF6;
    --nav-background-color: #E6EAF1;
    --primary-color: #2563EB;
}
/*dark mode variables*/
.dark{
    --body-background-color: #121517;
    --nav-background-color: #13181E;
}

/*button styles*/
.button-1{
    background-color: transparent;
    color: var(--primary-color);
    border:var(--primary-color) 2px solid;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight:600;
}
.button-2{
    background-color: var(--primary-color);
    border:var(--primary-color) 2px solid;
    color: white;
    border:none;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight:600;
}

/*fit height width classes*/
.fit-height{
    height:fit-content;
}
.fit-width{
    width:fit-content;
}

.screen-width{
    width:100%;
}

.bg-color{
    background-color:var(--body-background-color);
}


.Custom-bg{
    background-color:var(--nav-background-color);
}
.semi-bold{
    font-weight:600;
}
.bold{
    font-weight:700;
}
.Extra-bold{
    font-weight:800;
}
.rounded-full{
    border-radius:9999px;
    padding: 6px 8px;
}

/*all h tag*/
h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}
h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
}
h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
}
h4{
    font-size: 32px;
    font-weight: 700;
    line-height: 80px;
}
h5{
    font-size: 28px;
    font-weight: 700;
    line-height: 80px;
}
h6{
    font-size: 24px;
    font-weight: 700;
    line-height: 80px;
}
p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
@media screen and (max-width: 768px) {
    h1{
        font-size: 42px;
        font-weight: 700;
        line-height: 50px;
    }
    h2{
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }
    h3{
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }
    h4{
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
    }
    h5{
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
    }
    h6{
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
}
    
}